

.square {
    border: 4px solid #ffffff;
    float: left;
    font-size: 40px;
    font-weight: bold;
    height: 130px;
    padding: 0;
    text-align: center;
    align-items: center;
    width: 130px;
    color: #2eff0a;
  }